<div class="mb-4 container">
    <h2 class="font-weight-bold text-center my-4">About me</h2>
    <p>
        Created by Tara P Bush, Computer Science student @ Weber State University.
        <br />
        This web application is created for learning purposes. 
        It is a Travel Blog web application where users can create an account and managing their blogs and share their 
        travel experience.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>