<div class="mb-4 container">
    <h2 class="font-weight-bold text-center my-4">News</h2>
    <h4>CORONAVIRUS AND TRAVEL: WHAT YOU NEED TO KNOW</h4>
    <p>
        Since March of 2020, Coronavirus has devastated the world. Millions have gotten sick, hundreds of thousands have lost their lives, and entire economies have been shut down. In just a matter of weeks, entire countries completely locked themselves down and closed their borders to visitors.
        <br/>
        For the first time since World War II, travel — an industry that relies on human movement and employs 10% of the global workforce — completely stopped.
        <br/>
        As the months have rolled on, we’ve seen some countries re-open……and then return to lockdown, while other destinations are doing well and have reopened to (some) tourists.
        <br/>
        And that process creates a lot of questions. There are a lot of variables and rules are constantly changing.
        <br/>
        How do you know which countries are open? How do we find out new visitation rules? Will travel insurance apply during the pandemic? What is flying going to be like? Are hotels and hostels safe? What attractions are open? Should you even travel now?        
    </p>
    <h5>What Destinations are Open?</h5>
    <p>
        The list of countries that are open changes every week. Some are opening for all international visitors, while others are opening only for neighboring countries. Some countries, like the US, Iceland, and Bulgaria, have bans on visitors from certain countries while countries like the Bahamas require travelers show a negative test result within 5 days of their flight. Bermuda requires a test before and during your visit.
        <br/>
        On the other hand, Cambodia requires a $2,000 deposit to cover any potential COVID expenses while Albania, Domican Republic, Costa Rica, and Mexico have virtually no restrictions and are completely open.
        <br/>
        In short, there’s a lot of varying rules to sort through.
        <br/>
        That means you’ll need to do specific research based on where you want to go if you want to travel this summer or fall.
    </p>
    <h5>What are Airlines Doing?</h5>
    <p>
        Flying for the foreseeable future is going to be a lot different. Currently, most airlines are requiring passengers to wear masks, though enforcement is inconsistent. The boarding process has also changed to reduce interactions and support physical distancing.
        <br/>
        Only a few airlines (such as Delta) are not booking any middle seats to maintain a safer distance between passengers. Most airlines are operating as usual, which means you may be on a full flight (with fewer flights available, a lot of the most popular routes are fully booked)        
    </p>

</div>